# countervector & hashing vector  for topic modeling

# 1.countervector

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("WhatsApp Chat with Ravi Sir.txt",header=None,error_bad_lines=False,encoding='utf8')

In [3]:
df

,0,1,2,3
0,11/08/22,10:09 am - Messages and calls are end-to-end ...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,11/08/22,10:09 am - udhayamechengineer: sir good morning,NaN,NaN
2,11/08/22,10:09 am - udhayamechengineer: today one hour...,NaN,NaN
3,11/08/22,9:37 pm - Ravi Sir: ok take it,NaN,NaN
4,13/08/22,5:55 pm - udhayamechengineer:sir good eavning...,NaN,NaN
...,...,...,...,...
201,21/06/23,7:20 pm - udhayamechengineer: <Media omitted>,NaN,NaN
202,21/06/23,7:20 pm - udhayamechengineer: <Media omitted>,NaN,NaN
203,21/06/23,7:20 pm - udhayamechengineer: Stacker 1B sir,NaN,NaN
204,21/06/23,7:21 pm - udhayamechengineer: <Media omitted>,NaN,NaN
205,21/06/23,7:22 pm - udhayamechengineer: <Media omitted>,NaN,NaN

In [4]:
# to delet the column 2,3

# Display the column names
print("Column names:")
print(df.columns)

# Display the original DataFrame (first few rows for inspection)
print("Original DataFrame:")
print(df.head())

# Assuming the actual column names are '2' and '3' (as strings)
# If they are integers, you should use integers instead
columns_to_delete = [2, 3]

# Check if columns exist and delete them
columns_to_delete = [col for col in columns_to_delete if col in df.columns]
df.drop(columns=columns_to_delete, inplace=True)
print(df.head())

Column names:
Int64Index([0, 1, 2, 3], dtype='int64')
Original DataFrame:
          0                                                  1  \
0  11/08/22   10:09 am - Messages and calls are end-to-end ...
1  11/08/22    10:09 am - udhayamechengineer: sir good morning
2  11/08/22   10:09 am - udhayamechengineer: today one hour...
3  11/08/22                     9:37 pm - Ravi Sir: ok take it
4  13/08/22   5:55 pm - udhayamechengineer:sir good eavning...

                    2                                                3
0   not even WhatsApp   can read or listen to them. Tap to learn more.
1                 NaN                                              NaN
2                 NaN                                              NaN
3                 NaN                                              NaN
4                 NaN                                              NaN
          0                                                  1
0  11/08/22   10:09 am - Messages and calls are end-to-end ...
1  11/08/22    10:09 am - udhayamechengineer: sir good morning
2  11/08/22   10:09 am - udhayamechengineer: today one hour...
3  11/08/22                     9:37 pm - Ravi Sir: ok take it
4  13/08/22   5:55 pm - udhayamechengineer:sir good eavning...

In [5]:
df.columns=['Date','Chat']
Message=df["Chat"].str.split("-",n=1,expand=True)
df["Time"]=Message[0]
Message1=Message[1].str.split(":",n=1,expand=True)
df["Name"]=Message1[0]
df["Chat"]=Message1[1]
df=df[["Date","Time","Name","Chat"]]
df

,Date,Time,Name,Chat
0,11/08/22,10:09 am,Messages and calls are end-to-end encrypted. ...,None
1,11/08/22,10:09 am,udhayamechengineer,sir good morning
2,11/08/22,10:09 am,udhayamechengineer,today one hour i need permission ...
3,11/08/22,9:37 pm,Ravi Sir,ok take it
4,13/08/22,5:55 pm,udhayamechengineer,sir good eavning sir
...,...,...,...,...
201,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>
202,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>
203,21/06/23,7:20 pm,udhayamechengineer,Stacker 1B sir
204,21/06/23,7:21 pm,udhayamechengineer,<Media omitted>
205,21/06/23,7:22 pm,udhayamechengineer,<Media omitted>

In [6]:
#to delete the first row for unknown data
df = df.iloc[1:]

# Optionally, reset the index if needed
df.reset_index(drop=True, inplace=True)
df

,Date,Time,Name,Chat
0,11/08/22,10:09 am,udhayamechengineer,sir good morning
1,11/08/22,10:09 am,udhayamechengineer,today one hour i need permission ...
2,11/08/22,9:37 pm,Ravi Sir,ok take it
3,13/08/22,5:55 pm,udhayamechengineer,sir good eavning sir
4,13/08/22,5:55 pm,udhayamechengineer,sir today material received for gearbox
...,...,...,...,...
200,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>
201,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>
202,21/06/23,7:20 pm,udhayamechengineer,Stacker 1B sir
203,21/06/23,7:21 pm,udhayamechengineer,<Media omitted>
204,21/06/23,7:22 pm,udhayamechengineer,<Media omitted>

In [7]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

# Vectorize the text data
count_vectorizer = CountVectorizer(stop_words='english')
count_data = count_vectorizer.fit_transform(df['Chat'])

# Fit the LDA model
num_topics = 5
lda = LatentDirichletAllocation(n_components=num_topics, random_state=42)
lda.fit(count_data)

# Display the top words for each topic
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print(f"Topic {topic_idx + 1}:")
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

# Number of top words to display
no_top_words = 5

# Use the appropriate method based on the version of scikit-learn
try:
    feature_names = count_vectorizer.get_feature_names_out()
except AttributeError:
    feature_names = count_vectorizer.get_feature_names()

display_topics(lda, feature_names, no_top_words)

# Assign topics to documents
lda_transformed = lda.transform(count_data)
df['topic'] = lda_transformed.argmax(axis=1)

print(df)

C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

Topic 1:
sir work tomorow pump good
Topic 2:
media omitted chut bypass discharge
Topic 3:
attached vcf file check coupling
Topic 4:
sir bcn 1b eds running
Topic 5:
ok sir noted okay echs
         Date        Time                 Name  \
0    11/08/22   10:09 am    udhayamechengineer
1    11/08/22   10:09 am    udhayamechengineer
2    11/08/22    9:37 pm              Ravi Sir
3    13/08/22    5:55 pm    udhayamechengineer
4    13/08/22    5:55 pm    udhayamechengineer
..        ...         ...                  ...
200  21/06/23    7:20 pm    udhayamechengineer
201  21/06/23    7:20 pm    udhayamechengineer
202  21/06/23    7:20 pm    udhayamechengineer
203  21/06/23    7:21 pm    udhayamechengineer
204  21/06/23    7:22 pm    udhayamechengineer

                                                  Chat  topic
0                                     sir good morning      0
1     today one hour i need permission             ...      4
2                                           ok take it      4
3                                sir good eavning sir       0
4             sir today material received for gearbox       0
..                                                 ...    ...
200                                    <Media omitted>      1
201                                    <Media omitted>      1
202                                     Stacker 1B sir      3
203                                    <Media omitted>      1
204                                    <Media omitted>      1

[205 rows x 5 columns]

C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df

,Date,Time,Name,Chat,topic
0,11/08/22,10:09 am,udhayamechengineer,sir good morning,0
1,11/08/22,10:09 am,udhayamechengineer,today one hour i need permission ...,4
2,11/08/22,9:37 pm,Ravi Sir,ok take it,4
3,13/08/22,5:55 pm,udhayamechengineer,sir good eavning sir,0
4,13/08/22,5:55 pm,udhayamechengineer,sir today material received for gearbox,0
...,...,...,...,...,...
200,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1
201,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1
202,21/06/23,7:20 pm,udhayamechengineer,Stacker 1B sir,3
203,21/06/23,7:21 pm,udhayamechengineer,<Media omitted>,1
204,21/06/23,7:22 pm,udhayamechengineer,<Media omitted>,1

In [9]:
df["topic"].value_counts()

1    126
4     37
0     22
3     13
2      7
Name: topic, dtype: int64

# hashing vector topic modeling

In [10]:
dataset=df

In [11]:
dataset

,Date,Time,Name,Chat,topic
0,11/08/22,10:09 am,udhayamechengineer,sir good morning,0
1,11/08/22,10:09 am,udhayamechengineer,today one hour i need permission ...,4
2,11/08/22,9:37 pm,Ravi Sir,ok take it,4
3,13/08/22,5:55 pm,udhayamechengineer,sir good eavning sir,0
4,13/08/22,5:55 pm,udhayamechengineer,sir today material received for gearbox,0
...,...,...,...,...,...
200,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1
201,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1
202,21/06/23,7:20 pm,udhayamechengineer,Stacker 1B sir,3
203,21/06/23,7:21 pm,udhayamechengineer,<Media omitted>,1
204,21/06/23,7:22 pm,udhayamechengineer,<Media omitted>,1

In [12]:
import pandas as pd
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.decomposition import LatentDirichletAllocation

# Vectorize the text data using HashingVectorizer
hash_vectorizer = HashingVectorizer(stop_words='english', n_features=2**10, alternate_sign=False)
hash_data = hash_vectorizer.fit_transform(dataset['Chat'])

# Fit the LDA model
num_topics = 4
lda = LatentDirichletAllocation(n_components=num_topics, random_state=42)
lda.fit(hash_data)

# Since HashingVectorizer does not provide feature names, we need to simulate them
# Here, we will use placeholder names for simplicity
feature_names = [f'feature_{i}' for i in range(hash_data.shape[1])]

# Display the top words for each topic
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print(f"Topic {topic_idx + 1}:")
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

# Number of top words to display
no_top_words = 5
display_topics(lda, feature_names, no_top_words)

# Assign topics to documents
lda_transformed = lda.transform(hash_data)
dataset['topic1'] = lda_transformed.argmax(axis=1)

print(dataset)

Topic 1:
feature_979 feature_141 feature_740 feature_843 feature_429
Topic 2:
feature_807 feature_929 feature_141 feature_60 feature_985
Topic 3:
feature_602 feature_50 feature_189 feature_949 feature_769
Topic 4:
feature_853 feature_121 feature_332 feature_123 feature_799
         Date        Time                 Name  \
0    11/08/22   10:09 am    udhayamechengineer
1    11/08/22   10:09 am    udhayamechengineer
2    11/08/22    9:37 pm              Ravi Sir
3    13/08/22    5:55 pm    udhayamechengineer
4    13/08/22    5:55 pm    udhayamechengineer
..        ...         ...                  ...
200  21/06/23    7:20 pm    udhayamechengineer
201  21/06/23    7:20 pm    udhayamechengineer
202  21/06/23    7:20 pm    udhayamechengineer
203  21/06/23    7:21 pm    udhayamechengineer
204  21/06/23    7:22 pm    udhayamechengineer

                                                  Chat  topic  topic1
0                                     sir good morning      0       1
1     today one hour i need permission             ...      4       0
2                                           ok take it      4       1
3                                sir good eavning sir       0       1
4             sir today material received for gearbox       0       1
..                                                 ...    ...     ...
200                                    <Media omitted>      1       2
201                                    <Media omitted>      1       2
202                                     Stacker 1B sir      3       1
203                                    <Media omitted>      1       2
204                                    <Media omitted>      1       2

[205 rows x 6 columns]

C:\Users\udhaya\Anaconda3\envs\aim1\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
dataset

,Date,Time,Name,Chat,topic,topic1
0,11/08/22,10:09 am,udhayamechengineer,sir good morning,0,1
1,11/08/22,10:09 am,udhayamechengineer,today one hour i need permission ...,4,0
2,11/08/22,9:37 pm,Ravi Sir,ok take it,4,1
3,13/08/22,5:55 pm,udhayamechengineer,sir good eavning sir,0,1
4,13/08/22,5:55 pm,udhayamechengineer,sir today material received for gearbox,0,1
...,...,...,...,...,...,...
200,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1,2
201,21/06/23,7:20 pm,udhayamechengineer,<Media omitted>,1,2
202,21/06/23,7:20 pm,udhayamechengineer,Stacker 1B sir,3,1
203,21/06/23,7:21 pm,udhayamechengineer,<Media omitted>,1,2
204,21/06/23,7:22 pm,udhayamechengineer,<Media omitted>,1,2

In [14]:
dataset["topic1"].value_counts()

2    128
1     39
0     23
3     15
Name: topic1, dtype: int64